<div class="title center-align">
  <h2>Bradley's Lawn Service</h2>
</div>

<div class="main-container center-align">
  <div class="container">
    <!--<nav class="center-align">-->
    <!--  Bradley's Lawn Service-->
    <!--</nav>-->
    <h4>
      About
    </h4>
    <h6>I've worked as a professional small engine repair man for a few years but I've been around these things all my life.
      I always ensure the customer leaves with a piece of equipment that is fully functional. If I have any issues with the repair I make it
      100% clear to keep the customer in the loop on what is going on. My goal is to have you fully aware of what's going on, perform a quality repair,
      and all weeks quicker than the local shops!
    </h6>
    <h6>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur dolorum fuga iste quia velit. Ad, adipisci facilis neque nulla quas quidem velit vitae! Earum et, ipsam officia saepe soluta voluptates.</h6>

    <h4>What to expect</h4>
    <h6>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet at harum incidunt similique! Ad eos illo laudantium modi molestias obcaecati possimus, provident quis quisquam quod recusandae sint veritatis, voluptatum! Deserunt!</h6>
    <h6>Same day diagnosis</h6>

    <h4>Pricing</h4>
    <h6>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet at harum incidunt similique! Ad eos illo laudantium modi molestias obcaecati possimus, provident quis quisquam quod recusandae sint veritatis, voluptatum! Deserunt!</h6>

    <h4>Where I'm located</h4>
    <h6>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet at harum incidunt similique! Ad eos illo laudantium modi molestias obcaecati possimus, provident quis quisquam quod recusandae sint veritatis, voluptatum! Deserunt!</h6>

    <h4>What equiptment do I work on</h4>
    <h6>I work on a wide range of equipment. Tillers, snowblowers, string trimmers, push mowers, riding lawn mowers.</h6>
    <h6></h6>

    <h4>How to make an appointment</h4>
    <div class="grass-image center-align">
      <img src="../assets/images/greyGrass.jpg" alt="Image of greyscale grass">
    </div>
  </div>
</div>
