@import "node_modules/materialize-css/sass/materialize";

footer{
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

small {
  font-weight: 300;
}

#description-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  word-break: break-word;
}

.about-descriptions {
  max-width: 500px;
  margin: 50px 0;
}

@media screen and (min-width: 700px) {
  .about-descriptions:nth-of-type(3n+2) {
    position: relative;
    left: 50px;
  }

  .about-descriptions:nth-of-type(3n+3) {
    position: relative;
    right: 100px;
  }
}

@media screen and (max-width: 700px) {
  footer {
    justify-content: flex-start;
  }

  .icons {
    flex-direction: column !important;
  }
}

.about-descriptions > h4 {
  font-weight: 100;
}

.about-descriptions > h6 {
  font-weight: 300;
}

.container {
  max-width: 1000px;
}

.delivery-map {
  width: 100%;
  height: 400px;
  margin: 20px 0;
}

.grass-image > img {
  width: 100%;
  opacity: 0.2;
}

.hr-break {
  height: 3px;
  background-color: black;
  width: 100%;
  margin-top: 0;

}

.icon-phone {
  display: flex;
  align-items: center;
}

.icon-location {
  display: flex;
  align-items: center;
}

.icon-mail {
  display: flex;
  align-items: center;
}

.icons {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  font-weight: 300;
}

.main-container {
  height: auto;
  width: auto;
}

.ng-fa-icon {
  padding: 0 20px;
}

.title {
  display: flex;
  flex-direction: column;
  max-width: 650px;
  margin: 0 auto 20px auto;
}

.svg-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: -3px;
}

.sources > h6 {
  font-weight: 300;
}

.sources-button-container {
  padding: 20px;
}

.svg-icons > img {
  height: 30px;
  width: 30px;
}

.ng-fa-icon {
  font-size: 30px;
}
