<div class="main-container center-align">
  <div class="lawn-line">
  </div>
  <div class="container">
    <div class="title center-align">
      <h2>H . A</h2>
      <small>Harper Auto</small>
    </div>
    <div class="svg-icons">
      <img src="../assets/images/gardening.svg" alt="Reel mower svg image">
      <img src="../assets/images/trimmer.svg" alt="String trimmer svg image">
      <img src="../assets/images/yard.svg" alt="Lawn mower svg image">
      <img src="../assets/images/grass.svg" alt="Blades of grass">
      <img src="../assets/images/hedgeTrimmer.svg" alt="Hedge trimmer svg image">
      <img src="../assets/images/motorcycle.svg" alt="Dude riding a motorcycle">
      <img src="../assets/images/trailBike.svg" alt="little trail motorcycle">
    </div>
    <hr class="hr-break green darken-3">
    <div id="description-section">
      <div class="about-descriptions" *ngFor="let description of descriptions.data">
        <h4>{{description.title}}</h4>
        <h6>{{ description.content }}</h6>
      </div>
    </div>
    <iframe class="delivery-map" src="https://www.google.com/maps/d/embed?mid=1fJfj10-UVgfbt21ky0_88zrXQwfwO4sL"></iframe>
    <footer>
      <div class="icons">
        <div class="icon-phone">
          <fa-icon [icon]="faphone"></fa-icon> (636)-535-3604
        </div>
        <div class="icon-location">
          <fa-icon [icon]="faMapPin"></fa-icon> Festus, Mo
        </div>
        <div class="icon-mail">
          <fa-icon [icon]="faEnvelope"></fa-icon> bradley@harperauto.us
        </div>
      </div>
    </footer>
    <hr class="hr-break green darken-3">
    <div class="sources">
      <h6>Icons from Smashicons & Freepik @ <a href="https://www.flaticon.com/">Flaticon</a></h6>
    </div>
  </div>
</div>
