<div class="title center-align">
  <h2>Bradley's Mobile Service</h2>
  <div class="svg-icons">
    <img src="../assets/images/gardening.svg" alt="Reel mower svg image">
    <img src="../assets/images/trimmer.svg" alt="String trimmer svg image">
    <img src="../assets/images/yard.svg" alt="Lawn mower svg image">
    <img src="../assets/images/grass.svg" alt="Blades of grass">
    <img src="../assets/images/hedgeTrimmer.svg" alt="Hedge trimmer svg image">
    <img src="../assets/images/motorcycle.svg" alt="Dude riding a motorcycle">
    <img src="../assets/images/trailBike.svg" alt="little trail motorcycle">
  </div>
  <div class="lawn-line">
    <hr class="hr-break green darken-4">
  </div>
</div>
<div class="main-container center-align">
  <div class="container">
    <h4>
      About
    </h4>
    <h6>I've worked as a professional small engine repair man for a few years but I've been around these things all my life.
      I always ensure the customer leaves with a piece of equipment that is fully functional. If I have any issues with the repair I make it
      100% clear to keep the customer in the loop on what is going on. My goal is to have you fully aware of what's going on, perform a quality repair,
      and all weeks quicker than the local shops!
    </h6>
    <h6>
      Same day diagnosis
    </h6>
    <h4>
      Pricing
    </h4>
    <h6>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Amet at harum incidunt similique! Ad eos illo laudantium modi molestias obcaecati possimus,
      provident quis quisquam quod recusandae sint veritatis, voluptatum! Deserunt!
    </h6>
    <h4>
      What equiptment do I work on
    </h4>
    <h6>
      Tillers, snowblowers, string trimmers, push mowers, riding lawn mowers.
    </h6>
    <h6>
      From brands ranging from toro, stihl, redmax, briggs and stratton, honda, wallmart brands, and more.
    </h6>
    <h4>
      How to make an appointment
    </h4>
    <h6>
      Contact me using email or phone provided below and we'll schedule a good time for me to help.
    </h6>
    <div class="sources-button-container">
      <a class='dropdown-trigger btn grey' href='#' data-target='dropdown1'>Sources</a>
    </div>
    <iframe class="delivery-map" src="https://www.google.com/maps/d/embed?mid=1fJfj10-UVgfbt21ky0_88zrXQwfwO4sL"></iframe>
    <hr class="hr-break green darken-4">
    <footer>
      <div class="icons">
        <fa-icon [icon]="faphone"></fa-icon>
        <fa-icon [icon]="faMapPin"></fa-icon>
        <fa-icon [icon]="faEnvelope"></fa-icon>
      </div>
      <h6>Icons sourced from Smashicons & Freepik @ <a href="https://www.flaticon.com/">Flaticon</a></h6>
    </footer>
  </div>
</div>
