@import "node_modules/materialize-css/sass/materialize";

footer {
  display: flex;
  justify-content: space-around;
}

.container {
  max-width: 1000px;
  //background-image: url("../assets/images/greyGrass.jpg");
}
.grass-image > img {
  width: 100%;
  opacity: 0.2;
}

.hr-break {
  height: 3px;
  background-color: black;
  width: 100%;
  margin-top: 0;
}

.main-container {
  height: auto;
  width: auto;
}

.title {
  display: flex;
  flex-direction: column;
  max-width: 650px;
  margin: 0 auto;
}

.title > h2 {
  margin-bottom: 0;
}

.svg-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.sources-button-container {
  padding: 20px;
}

.svg-icons > img {
  height: 30px;
  width: 30px;
}
